In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
plt.style.use('seaborn-notebook')
%matplotlib inline
import csv
import src.scrubbing_develop as scrubbing
import src.utility as utility

In [3]:
df = pd.read_csv('data/Restaurant_Scores_-_LIVES_Standard.csv')

In [4]:
df2 = scrubbing.remove_missing_vid(df)
df3 = scrubbing.group_bid_idate(df2)

/home/soong/galv/capstone/SFeaters/src/scrubbing_develop.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_viol['short_violation_id'] = L_vid
/home/soong/galv/capstone/SFeaters/src/scrubbing_develop.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['inspect_date'] = pd.to_datetime(df.inspection_date)
/home/soong/galv/capstone/SFeaters/src/scrubbing_develop.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['short_violation_id'] = df['short_violation_id'].apply(np.int64)

In [5]:
csv_file = 'data/geo_coords_sf.csv'
df4 = scrubbing.geo_coords_import(df3, csv_file)

/home/soong/galv/capstone/SFeaters/src/scrubbing_develop.py:137: RuntimeWarning: invalid value encountered in greater
  mask333 = df['business_longitude'].values > -122.375
/home/soong/galv/capstone/SFeaters/src/scrubbing_develop.py:139: RuntimeWarning: invalid value encountered in less
  mask334 = df2['business_latitude'].values < 37.70

In [6]:
df_b = pd.read_csv('data/Registered_Business_Locations_-_San_Francisco.csv')

In [7]:
df4a = utility.import_turnover_duration(df4, df_b)

In [8]:
df5 = scrubbing.import_zipcode(df4a, df_b)
df6 = scrubbing.get_zipcode_dummies2(df5)
df7 = scrubbing.remove_rows_zero_violation2(df6)

In [9]:
df_ratings = pd.read_pickle('data/yelp_ratings.pkl')

In [10]:
df8 = utility.yelp_ratings(df7, df_ratings)

/home/soong/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/soong/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
df_prices = pd.read_pickle('data/yelp_prices.pkl')
df9 = utility.yelp_prices(df8, df_prices)

/home/soong/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/soong/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [12]:
df10 = utility.geo_round(df9)

/home/soong/galv/capstone/SFeaters/src/utility.py:178: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['longitude_round'] = longi
/home/soong/galv/capstone/SFeaters/src/utility.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['latitude_round'] = lati
/home/soong/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
df10.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,94133,94134,94143,94158,95105,p7_36,rating,price,longitude_round,latitude_round
0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,...,0,0,0,0,0,16,3.687796,1.772778,-122.42,37.79
1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,...,0,0,0,0,0,13,3.500000,2.000000,-122.42,37.76
2,79782,Deli 23,2449 23rd St,San Francisco,CA,94110,37.754343,-122.403989,NaN,NaN,...,0,0,0,0,0,10,4.000000,2.000000,-122.40,37.75
3,73840,L'acajou Bakery and Cafe,498 09th St Ste. C,San Francisco,CA,94103,NaN,NaN,NaN,NaN,...,0,0,0,0,0,6,3.687796,1.772778,-122.42,37.77
4,76437,Sweetheart Cafe,909 Grant Ave,San Francisco,CA,94108,37.795305,-122.406613,NaN,NaN,...,0,0,0,0,0,12,3.500000,2.000000,-122.41,37.80

In [14]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4897 entries, 0 to 5228
Data columns (total 70 columns):
business_id              4897 non-null int64
business_name            4897 non-null object
business_address         4897 non-null object
business_city            4897 non-null object
business_state           4897 non-null object
business_postal_code     4897 non-null object
business_latitude        4512 non-null float64
business_longitude       4512 non-null float64
business_location        2918 non-null object
business_phone_number    1507 non-null float64
inspection_id            4897 non-null object
inspection_date          4897 non-null object
inspection_score         4518 non-null float64
inspection_type          4897 non-null object
violation_id             4897 non-null object
violation_description    4897 non-null object
risk_category            4897 non-null object
short_violation_id       4897 non-null int64
inspect_date             4897 non-null datetime64[ns]
p1_3                     4897 non-null int64
p4_6                     4897 non-null int64
p7_9                     4897 non-null int64
p10_12                   4897 non-null int64
p13_18                   4897 non-null int64
p19_24                   4897 non-null int64
p25_36                   4897 non-null int64
number_turnovers         4897 non-null float64
start_date               2734 non-null datetime64[ns]
duration_business        4897 non-null float64
y_label                  4897 non-null bool
92672                    4897 non-null uint8
94013                    4897 non-null uint8
94014                    4897 non-null uint8
94080                    4897 non-null uint8
94101                    4897 non-null uint8
94102                    4897 non-null uint8
94103                    4897 non-null uint8
94104                    4897 non-null uint8
94105                    4897 non-null uint8
94107                    4897 non-null uint8
94108                    4897 non-null uint8
94109                    4897 non-null uint8
94110                    4897 non-null uint8
94111                    4897 non-null uint8
94112                    4897 non-null uint8
94114                    4897 non-null uint8
94115                    4897 non-null uint8
94116                    4897 non-null uint8
94117                    4897 non-null uint8
94118                    4897 non-null uint8
94120                    4897 non-null uint8
94121                    4897 non-null uint8
94122                    4897 non-null uint8
94123                    4897 non-null uint8
94124                    4897 non-null uint8
94127                    4897 non-null uint8
94129                    4897 non-null uint8
94130                    4897 non-null uint8
94131                    4897 non-null uint8
94132                    4897 non-null uint8
94133                    4897 non-null uint8
94134                    4897 non-null uint8
94143                    4897 non-null uint8
94158                    4897 non-null uint8
95105                    4897 non-null uint8
p7_36                    4897 non-null int64
rating                   4897 non-null float64
price                    4897 non-null float64
longitude_round          4897 non-null float64
latitude_round           4897 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(10), int64(10), object(12), uint8(35)
memory usage: 1.6+ MB

In [15]:
df10.to_pickle('data/sf_inspection_master.pkl')