In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
plt.style.use('seaborn-notebook')
%matplotlib inline
import csv
import src.scrubbing_develop as scrubbing
import src.utility

In [2]:
feature_names = ['p7_9','p10_12', 'p13_18', 'p19_24', 'p25_36', '94013', '94014', '94080', '94101', '94102', '94103', '94104',
       '94105', '94107', '94108', '94109', '94110', '94111', '94112', '94114',
       '94115', '94116', '94117', '94118', '94120', '94121', '94122', '94123',
       '94124', '94127', '94129', '94130', '94131', '94132', '94133', '94134',
       '94143', '94158']

In [3]:
df2 = pd.read_pickle('data/sf_inspection_master.pkl')
df3 = scrubbing.remove_rows_zero_violation2(df2)

In [4]:
df3.columns

Index(['business_id', 'business_name', 'business_address', 'business_city',
       'business_state', 'business_postal_code', 'business_latitude',
       'business_longitude', 'business_location', 'business_phone_number',
       'inspection_id', 'inspection_date', 'inspection_score',
       'inspection_type', 'violation_id', 'violation_description',
       'risk_category', 'short_violation_id', 'inspect_date', 'p1_3', 'p4_6',
       'p7_9', 'p10_12', 'p13_18', 'p19_24', 'p25_36', 'number_turnovers',
       'start_date', 'duration_business', 'y_label', '92672', '94013', '94014',
       '94080', '94101', '94102', '94103', '94104', '94105', '94107', '94108',
       '94109', '94110', '94111', '94112', '94114', '94115', '94116', '94117',
       '94118', '94120', '94121', '94122', '94123', '94124', '94127', '94129',
       '94130', '94131', '94132', '94133', '94134', '94143', '94158', '95105',
       'rating', 'price', 'longitude_round', 'latitude_round', 'p7_36'],
      dtype='object')

In [18]:
df4 = df3[['rating', 'price', 'y_label']]
df4['rating'][0]

3.6950195858981534

In [30]:
# remove un-rated ones
mask = ((df4['rating'] > 3.6) & (df4['rating']< 3.7))
df5 = df4[~mask]
len(df5)

1688

In [69]:
# count True per rating
mask_1 = df5['rating'] == 1.0
df5[mask_1]['y_label']

D = {}
L = []
for n in range(9):
    mask_r = df5['rating'] == n/2 + 1.0
    anum = sum(df5[mask_r]['y_label'])
    L.append(anum)
    
L

[1, 2, 27, 25, 91, 244, 290, 97, 4]

In [55]:
df5.iloc[1,0]

4.0

In [ ]:
fig, ax = plt.subplots(figsize=(7,5))
ax.hist(L,bins=42);
plt.xlabel('rating');
plt.ylabel('Number of restaurants');
ax.set_title('Histogram for ratings vs violations');