In [21]:
import numpy as np
import pandas as pd
from numpy import nan
import math

In [22]:
df = pd.read_csv('data/df_periods.csv')

In [23]:
df.head()

,Unnamed: 0,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category,short_inspect_date,short_violation_id
0,0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,1757_20170928,9/28/2017 0:00,86.0,Routine - Unscheduled,1757_20170928_103131,Moderate risk vermin infestation,Moderate Risk,20170928,103131
1,1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,4864_20161206,12/6/2016 0:00,84.0,Routine - Unscheduled,4864_20161206_103157,Food safety certificate or food handler card n...,Low Risk,20161206,103157
2,2,79782,Deli 23,2449 23rd St,San Francisco,CA,94110,NaN,NaN,NaN,NaN,79782_20160503,5/3/2016 0:00,92.0,Routine - Unscheduled,79782_20160503_103120,Moderate risk food holding temperature,Moderate Risk,20160503,103120
3,3,73840,L'acajou Bakery and Cafe,498 09th St Ste. C,San Francisco,CA,94103,NaN,NaN,NaN,NaN,73840_20171207,12/7/2017 0:00,71.0,Routine - Unscheduled,73840_20171207_103105,Improper cooling methods,High Risk,20171207,103105
4,4,76437,Sweetheart Cafe,909 Grant Ave,San Francisco,CA,94108,NaN,NaN,NaN,NaN,76437_20160329,3/29/2016 0:00,76.0,Routine - Unscheduled,76437_20160329_103113,Sewage or wastewater contamination,High Risk,20160329,103113

In [28]:
df_short = df[['business_id', 'short_inspect_date', 'risk_category', 'short_violation_id']]

In [29]:
a = df_short['short_violation_id']
a.isnull().any()

False

In [31]:
df_short['short_violation_id'] = df_short['short_violation_id'].apply(np.int64)
df_short['short_inspect_date'] = df_short['short_inspect_date'].apply(np.int64)

/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [119]:
df_shorter = df_short[400:430]

In [120]:
len(df_shorter['business_id'].unique())

24

In [121]:
df_shorter.business_id.value_counts()

315      5
79272    2
18079    2
74399    1
27791    1
69026    1
64835    1
63926    1
9273     1
1800     1
774      1
84759    1
1296     1
2110     1
89969    1
59986    1
5493     1
2134     1
27799    1
1350     1
90233    1
40217    1
69181    1
4672     1
Name: business_id, dtype: int64

In [133]:
shortest_list = [315, 79272, 18079, 74399, 27791, 69026, 64835]

In [135]:
df_shortest = df_shorter.loc[df['business_id'].isin(shortest_list)]

In [136]:
df_shortest

     business_id  short_inspect_date  risk_category  short_violation_id
401        79272            20160929  Moderate Risk              103133
402        27791            20150414       Low Risk              103142
404          315            20150518      High Risk              103114
405          315            20150518       Low Risk              103154
406          315            20150518       Low Risk              103138
407          315            20150929  Moderate Risk              103129
408          315            20150929       Low Risk              103157
412        64835            20171211  Moderate Risk              103132
413        74399            20161206  Moderate Risk              103120
420        69026            20160607       Low Risk              103149
421        18079            20160502       Low Risk              103139
425        18079            20160502  Moderate Risk              103131
426        79272            20160929      High Risk              103108

In [143]:
df_shortest.business_id.value_counts()

315      5
79272    2
18079    2
27791    1
74399    1
64835    1
69026    1
Name: business_id, dtype: int64

### Let's aggregate risk_category and short_violation_id group by business_id and short_inspection_date

In [137]:
# Let's use df_shortest to do the aggregation

In [154]:
n305 = df_shortest.groupby(['business_id', 'short_inspect_date'])['risk_category'].unique()

In [155]:
type(n305)

pandas.core.series.Series

In [156]:
list_n305 = n305.tolist()

In [147]:
m259 = df_shortest.groupby(['business_id', 'short_inspect_date'])['short_violation_id'].unique()

In [180]:
df_grouped = pd.DataFrame(m259)

In [181]:
df_grouped

                                      short_violation_id
business_id short_inspect_date
315         20150518            [103114, 103154, 103138]
            20150929                    [103129, 103157]
18079       20160502                    [103139, 103131]
27791       20150414                            [103142]
64835       20171211                            [103132]
69026       20160607                            [103149]
74399       20161206                            [103120]
79272       20160929                    [103133, 103108]

In [182]:
df_grouped['risk_category'] = list_n305
df_grouped

                                      short_violation_id  \
business_id short_inspect_date
315         20150518            [103114, 103154, 103138]
            20150929                    [103129, 103157]
18079       20160502                    [103139, 103131]
27791       20150414                            [103142]
64835       20171211                            [103132]
69026       20160607                            [103149]
74399       20161206                            [103120]
79272       20160929                    [103133, 103108]

                                             risk_category
business_id short_inspect_date
315         20150518                 [High Risk, Low Risk]
            20150929             [Moderate Risk, Low Risk]
18079       20160502             [Low Risk, Moderate Risk]
27791       20150414                            [Low Risk]
64835       20171211                       [Moderate Risk]
69026       20160607                            [Low Risk]
74399       20161206                       [Moderate Risk]
79272       20160929            [Moderate Risk, High Risk]

In [183]:
df_grouped.index.names

FrozenList(['business_id', 'short_inspect_date'])

In [184]:
df_grouped.loc[(315,20150518),:]

short_violation_id    [103114, 103154, 103138]
risk_category            [High Risk, Low Risk]
Name: (315, 20150518), dtype: object

## Final stretch: Sort according to dates -->  7 different time slots

In [191]:
ndf = df_shortest[:]

In [192]:
ndf = df_shortest.drop_duplicates('business_id')

In [193]:
ndf

     business_id  short_inspect_date  risk_category  short_violation_id
401        79272            20160929  Moderate Risk              103133
402        27791            20150414       Low Risk              103142
404          315            20150518      High Risk              103114
412        64835            20171211  Moderate Risk              103132
413        74399            20161206  Moderate Risk              103120
420        69026            20160607       Low Risk              103149
421        18079            20160502       Low Risk              103139

In [ ]:
# Our raw input data will be df_grouped.

In [195]:
ndf['past6mon'] = 0;
ndf['past7_9mon'] = 0;
ndf['past10_12mon'] = 0;
ndf['past13_15mon'] = 0;
ndf['past16_18mon'] = 0;
ndf['past18_24mon'] = 0;
ndf['past2_3yr'] = 0;

/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/soong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [196]:
ndf

,business_id,short_inspect_date,risk_category,short_violation_id,past6mon,past7_9mon,past10_12mon,past13_15mon,past16_18mon,past18_24mon,past2_3yr
401,79272,20160929,Moderate Risk,103133,0,0,0,0,0,0,0
402,27791,20150414,Low Risk,103142,0,0,0,0,0,0,0
404,315,20150518,High Risk,103114,0,0,0,0,0,0,0
412,64835,20171211,Moderate Risk,103132,0,0,0,0,0,0,0
413,74399,20161206,Moderate Risk,103120,0,0,0,0,0,0,0
420,69026,20160607,Low Risk,103149,0,0,0,0,0,0,0
421,18079,20160502,Low Risk,103139,0,0,0,0,0,0,0

In [223]:
for row in df_grouped.iterrows():
    bid = row[0][0]
    date = row[0][1]
    #print('date is: {}'.format(date))
    #print(row[0]['short_inspect_date'])
    if 20150301 <= date <= 20150531:
        print(row[1]['short_violation_id'])

[103114 103154 103138]
[103142]