In [1]:
import numpy as np
import pandas as pd
from numpy import nan
import math

In [19]:
df = pd.read_csv('data/df_periods.csv')

In [21]:
df.head()

,Unnamed: 0,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category,short_violation_id
0,0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,1757_20170928,9/28/2017 0:00,86.0,Routine - Unscheduled,1757_20170928_103131,Moderate risk vermin infestation,Moderate Risk,103131.0
1,1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,4864_20161206,12/6/2016 0:00,84.0,Routine - Unscheduled,4864_20161206_103157,Food safety certificate or food handler card n...,Low Risk,103157.0
2,2,79782,Deli 23,2449 23rd St,San Francisco,CA,94110,NaN,NaN,NaN,NaN,79782_20160503,5/3/2016 0:00,92.0,Routine - Unscheduled,79782_20160503_103120,Moderate risk food holding temperature,Moderate Risk,103120.0
3,3,73840,L'acajou Bakery and Cafe,498 09th St Ste. C,San Francisco,CA,94103,NaN,NaN,NaN,NaN,73840_20171207,12/7/2017 0:00,71.0,Routine - Unscheduled,73840_20171207_103105,Improper cooling methods,High Risk,103105.0
4,4,76437,Sweetheart Cafe,909 Grant Ave,San Francisco,CA,94108,NaN,NaN,NaN,NaN,76437_20160329,3/29/2016 0:00,76.0,Routine - Unscheduled,76437_20160329_103113,Sewage or wastewater contamination,High Risk,103113.0

In [22]:
df_short = df[['business_id', 'inspection_date', 'risk_category', 'short_violation_id']]

In [28]:
a = df_short['short_violation_id']
a.isnull().any()

True

In [25]:
df_short['short_violation_id'] = df_short['short_violation_id'].apply(np.int64)

ValueError: cannot convert float NaN to integer

In [24]:
df_short.head(100)

    business_id  inspection_date  risk_category  short_violation_id
0          1757   9/28/2017 0:00  Moderate Risk            103131.0
1          4864   12/6/2016 0:00       Low Risk            103157.0
2         79782    5/3/2016 0:00  Moderate Risk            103120.0
3         73840   12/7/2017 0:00      High Risk            103105.0
4         76437   3/29/2016 0:00      High Risk            103113.0
5         82123   12/7/2017 0:00  Moderate Risk            103131.0
6          1146   2/23/2018 0:00      High Risk            103103.0
7          3838   2/22/2018 0:00       Low Risk            103142.0
8         38929   1/14/2016 0:00       Low Risk            103139.0
9         81161   3/25/2016 0:00       Low Risk            103149.0
10        85781   3/11/2016 0:00  Moderate Risk            103124.0
11        82880    3/9/2016 0:00       Low Risk            103148.0
12        16441   12/6/2016 0:00       Low Risk            103149.0
13         2716   3/23/2016 0:00  Moderate Risk            103154.0
14         3165   3/23/2017 0:00       Low Risk            103133.0
15         2995    8/9/2017 0:00  Moderate Risk            103119.0
16        64380   4/14/2016 0:00       Low Risk            103120.0
17         3594   3/30/2016 0:00  Moderate Risk            103139.0
18         5493   8/14/2016 0:00  Moderate Risk            103124.0
19        69762   4/13/2016 0:00  Moderate Risk            103119.0
20        80081    1/4/2017 0:00  Moderate Risk            103102.0
21        62710   5/11/2016 0:00       Low Risk            103105.0
22        93150  10/30/2017 0:00  Moderate Risk            103124.0
23         4960   4/13/2016 0:00       Low Risk            103114.0
24        73840    1/5/2017 0:00  Moderate Risk            103149.0
25        74922   4/30/2016 0:00  Moderate Risk            103119.0
26        66999    6/7/2016 0:00      High Risk            103145.0
27           61   8/27/2015 0:00  Moderate Risk            103118.0
28           61   8/27/2015 0:00       Low Risk            103120.0
29           61   8/27/2015 0:00       Low Risk            103144.0
..          ...              ...            ...                 ...
70        58850    9/6/2016 0:00       Low Risk            103157.0
71        74283   8/24/2017 0:00       Low Risk            103145.0
72        32586    9/6/2016 0:00       Low Risk            103132.0
73         2627    1/5/2017 0:00       Low Risk            103105.0
74        36048   9/26/2017 0:00       Low Risk            103144.0
75        70685  12/12/2017 0:00  Moderate Risk            103151.0
76        91934   9/28/2017 0:00       Low Risk            103131.0
77        13671   2/27/2018 0:00      High Risk            103119.0
78        79296   1/27/2016 0:00       Low Risk            103132.0
79         4907    1/5/2017 0:00  Moderate Risk            103142.0
80        40217    5/2/2016 0:00  Moderate Risk            103133.0
81         1632   8/10/2016 0:00  Moderate Risk            103144.0
82         1833   4/13/2016 0:00  Moderate Risk            103103.0
83        69282   4/13/2016 0:00  Moderate Risk            103148.0
84        18805    6/7/2016 0:00       Low Risk            103142.0
85        77778    5/2/2016 0:00  Moderate Risk            103124.0
86        75259   3/25/2016 0:00      High Risk            103120.0
87        76526   2/27/2018 0:00  Moderate Risk            103114.0
88        87510   5/13/2016 0:00       Low Risk            103129.0
89         3211   8/15/2016 0:00  Moderate Risk            103119.0
90        81509   12/5/2016 0:00       Low Risk            103133.0
91        38798   5/18/2016 0:00       Low Risk            103157.0
92         3253   4/13/2016 0:00  Moderate Risk            103149.0
93         1977   3/28/2016 0:00      High Risk            103132.0
94        77564    5/3/2016 0:00      High Risk            103156.0
95        36673    9/1/2016 0:00       Low Risk            103142.0
96        18728   8/12/2016 0:00  Moderate Risk            103139.0
97        69762   4/13/2016 0:00       Low Risk            103108.0
98        68295   9/28/2016 0:00       Low Risk            103145.0
99         5875    9/6/2016 0:00  Moderate Risk            103114.0

[100 rows x 4 columns]